/* Sticky footer styles
-------------------------------------------------- */
html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	position: inherit;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -30px;
	/* Pad bottom by footer height */
	padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 30px;
}

#footer-content {
	bottom: 0px;
}

/* fix safari bug */
legend {
	margin-bottom: 0px;
}

fieldset>legend+* {
	padding-top: 20px;
}

/* fix model scrollbar offset */
body.modal-open,.modal-open .navbar-fixed-top,.modal-open .navbar-fixed-bottom
	{
	margin-right: 0px;
}

.modal {
	overflow-y: hidden;
}

.spacer-right {
	margin-right: 10px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}